{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <br>
            <h4>Are you sure to delete the "{{ object }}"?</h4>
            <form class="form" action="#" method='POST'>
                {% csrf_token %}
                <a href="{{ request.GET.next }}" class="btn btn-primary">Back</a>
                <input type="submit" value="Confirm" class="btn btn-danger">
            </form>
        </div>
    </div>
</main>
{% endblock %}